#header{
	background-color:#d35400;
	
}

#logo{
	color:#f1c40f;
	font-weight: bolder;
	font-family: fantasy;
	margin-top: 15px;
	font-size: 35px;
}



#nav li {
	display: inline-block;
	
	list-style: none;


}

#nav li a{
	display: inline-block;
	color: white;
	font-weight: bold;
	font-size: 20px;
	margin-top: 15px;
	padding: 10px;
}

#nav li a:hover{
	cursor: pointer;
	background-color: dodgerblue;
	border-radius: 15px;
	box-shadow: 5px 5px 15px black;

}

#banner{
	background: url('image/p2.jpg') no-repeat 0 0;
	background-size: cover;
}

#banner h1{
	background-color: rgba(255, 255, 255, 0.8);
	padding: 15px;
	margin-top: 90px;
	border-radius: 15px;
	margin-bottom: 0px;
}

#banner p{
	background-color: rgba(255, 0, 0, 0.8);
	padding: 7px;
	color: white;
	border-radius: 15px;

}

.section{
	padding: 50px;
}

.section-head{
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	

}

.section-head:after{
	background: #f1c40f;
	width: 100px;
	height: 5px;
	content: "";
	display: block;
	margin: 20px auto;
}

.section-box{
	text-align: center;
	padding: 25px;

}

.section-box i.fa{
	font-size: 50px;
	color: #d35400;
	padding: 20px;
}

.test{
	background: url('image/p1.jpg') no-repeat 0 0;
	background-size: cover;
	padding: 50px 0;
	position: relative;
}

.test:before{
	content: "";
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 255, 0.2);
}

.test-head{
	text-align: center;
	font-weight: bold;
	font-size: 35px;
	color: white;

}

.test-head:after{
	background: #f1c40f;
	width: 100px;
	height: 5px;
	content: "";
	display: block;
	margin: 20px auto;
}

.test-box{
	color: white;
	padding: 25px;

}

.test-box img{
	border-radius: 50%;
}

.news{
	padding: 50px;
}

.news-head{
	text-align: center;
	font-weight: bold;
	font-size: 35px;
}

.news-head:after{
	background: #f1c40f;
	width: 100px;
	height: 5px;
	content: "";
	display: block;
	margin: 20px auto;
}

.news img{
	box-shadow: 5px 5px 10px black;
	margin: 12px 0px;
}

.news-box{
	padding: 15px;
}


.footer{
	background-color: #34495e;
	color: white;
	font-weight: bold;
}

.footer a.fab{
	color: white;
	font-size: 30px;
	padding: 7px;
}

@media (max-width: 800px){

	#header h2{
		text-align: center;
	}

	.footer h5{
		text-align: center;
	}

	 #icons{
		text-align: center;
	}

	
}


